.git
.gitignore
.dockerignore

node_modules
dist
tmp
out-tsc
.angular/cache
coverage

.vscode
.idea
.history

npm-debug.log
yarn-error.log
pnpm-debug.log

.env
.env.*
*.pem
*.key
*.crt
*.p12
*.pfx
*.kubeconfig
*credentials*
*secret*

codigo.zip
datos.zip
dist.zip
